<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{meta_title}}</title>

        <!-- inlineCSS-start -->
		<script id="loadCSSLibrary">
		// https://github.com/filamentgroup/loadCSS
		!function(e){"use strict";var n=function(n,t,o){function i(e){return a.body?e():void setTimeout(function(){i(e)})}function r(){l.addEventListener&&l.removeEventListener("load",r),l.media=o||"all"}var d,a=e.document,l=a.createElement("link");if(t)d=t;else{var s=(a.body||a.getElementsByTagName("head")[0]).childNodes;d=s[s.length-1]}var f=a.styleSheets;l.rel="stylesheet",l.href=n,l.media="only x",i(function(){d.parentNode.insertBefore(l,t?d:d.nextSibling)});var u=function(e){for(var n=l.href,t=f.length;t--;)if(f[t].href===n)return e();setTimeout(function(){u(e)})};return l.addEventListener&&l.addEventListener("load",r),l.onloadcssdefined=u,u(r),l};"undefined"!=typeof exports?exports.loadCSS=n:e.loadCSS=n}("undefined"!=typeof global?global:this);
	  	</script>
		<style id="inlineCSS">
		html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, small, strong, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{ margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline; }article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{ display:block; }ul{ list-style:none; }blockquote, q{ quotes:none; }blockquote:before, blockquote:after,
q:before, q:after{ content:''; }table{ border-spacing:0; }html{ box-sizing:border-box;font-size:62.5%; }*, *:before, *:after{ box-sizing:inherit; }.sr-only{ position:absolute;clip:rect(1px 1px 1px 1px); }body{ font-size:1.5rem;line-height:1.6;font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;font-weight:300;background:whitesmoke;border:3px solid #ffdb3a;min-height:100vh; }a{ color:inherit; }.h1{ font-size:2.6rem;font-weight:600; }.h2, .post__content h2{ font-size:2.3rem;font-weight:600; }.h3, .post__content h3{ font-size:1.9rem;font-weight:600; }.h4, .post__content h4{ font-size:1.8rem;font-weight:600; }.no-ul,
.no-ul a{ text-decoration:none; }strong{ font-weight:600; }em{ font-style:italic; }.m-t-xsm{ margin-top:5px; }.m-r-xsm{ margin-right:5px; }.m-b-xsm{ margin-bottom:5px; }.m-l-xsm{ margin-left:5px; }.m-a-xsm{ margin:5px; }.m-t-sm{ margin-top:10px; }.m-r-sm{ margin-right:10px; }.m-b-sm{ margin-bottom:10px; }.m-l-sm{ margin-left:10px; }.m-a-sm{ margin:10px; }.m-t-md{ margin-top:25px; }.m-r-md{ margin-right:25px; }.m-b-md{ margin-bottom:25px; }.m-l-md{ margin-left:25px; }.m-a-md{ margin:25px; }.m-t-lg{ margin-top:50px; }.m-r-lg{ margin-right:50px; }.m-b-lg{ margin-bottom:50px; }.m-l-lg{ margin-left:50px; }.m-a-lg{ margin:50px; }.m-t-xlg{ margin-top:80px; }.m-r-xlg{ margin-right:80px; }.m-b-xlg{ margin-bottom:80px; }.m-l-xlg{ margin-left:80px; }.m-a-xlg{ margin:80px; }.p-t-xsm{ padding-top:5px; }.p-r-xsm{ padding-right:5px; }.p-b-xsm{ padding-bottom:5px; }.p-l-xsm{ padding-left:5px; }.p-a-xsm{ padding:5px; }.p-t-sm{ padding-top:10px; }.p-r-sm{ padding-right:10px; }.p-b-sm{ padding-bottom:10px; }.p-l-sm{ padding-left:10px; }.p-a-sm{ padding:10px; }.p-t-md{ padding-top:25px; }.p-r-md{ padding-right:25px; }.p-b-md{ padding-bottom:25px; }.p-l-md{ padding-left:25px; }.p-a-md{ padding:25px; }.p-t-lg{ padding-top:50px; }.p-r-lg{ padding-right:50px; }.p-b-lg{ padding-bottom:50px; }.p-l-lg{ padding-left:50px; }.p-a-lg{ padding:50px; }.p-t-xlg{ padding-top:80px; }.p-r-xlg{ padding-right:80px; }.p-b-xlg{ padding-bottom:80px; }.p-l-xlg{ padding-left:80px; }.p-a-xlg{ padding:80px; }.wrapper{ width:90%;max-width:980px;margin-left:auto;margin-right:auto; }.wrapper--flex{ display:flex;min-height:100%; }.site__header{ height:60px;border-bottom:2px solid #e6e6e6;margin-bottom:40px; }.site__header .wrapper--flex{ justify-content:space-between;align-items:center; }.no-btn{ border:0;background:transparent;font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;font-size:1.5rem;cursor:pointer;padding:0;width:auto; }.site__nav ul{ display:flex;flex-wrap:wrap;width:100%;margin-top:30px; }.site__nav li{ width:100%;font-size:2.4rem;font-weight:600;margin-bottom:10px; }.site__footer{ border-top:2px solid #e6e6e6; }.site__footer__nav ul{ text-align:center; }.site__footer__nav li{ display:inline-block; }.site__body{ margin-bottom:50px; }.site__body .wrapper--flex{ display:flex;justify-content:space-between;flex-wrap:wrap; }.site__main{ width:100%;min-height:calc(100vh - 350px);margin-bottom:30px; }.site__sidebar{ width:100%; }#logo{ height:16px;width:auto; }.excerpt{ padding-bottom:30px;margin-bottom:30px; }.excerpt:not(:last-of-type){ border-bottom:2px solid #e6e6e6; }.post__meta em:not(:last-child){ margin-right:10px;padding-right:10px;position:relative; }.post__meta em:not(:last-child):after{ content:"";height:5px;width:5px;background:#3c3c3c;border-radius:50%;position:absolute;right:-5px;top:6px; }.post__content{ line-height:1.7;font-size:1.65rem; }.post__content p{ margin-bottom:1rem; }.post__content li > code,
.post__content h2 > code,
.post__content h3 > code,
.post__content p > code,
.post__content a > code,
.post__content span > code,
.post__content td > code,
.post__content th > code{ font-family:"Inconsolata", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;font-weight:600; }.post__content h2{ margin-top:4rem;margin-bottom:1rem; }.post__content h3{ margin-top:3rem;margin-bottom:1rem; }.post__content img:not(.d-ib){ width:100%;height:auto; }.post__content video{ max-width:100%; }.post__content .email-display{ display:none; }.box{ border:2px solid #e6e6e6;border-radius:3px; }.subscribe-form{ position:relative; }.subscribe-form__image{ position:absolute;right:10px;bottom:0;width:25%;z-index:1; }.ad{ text-align:center; }#carbonads .carbon-text{ display:block;font-size:1.3rem;margin-top:10px;margin-bottom:10px; }#carbonads .carbon-poweredby{ font-size:1.3rem; }.social ul{ display:flex;justify-content:center; }.social ul li{ margin-left:7px;margin-right:7px; }.social ul li svg{ height:15px;width:auto; }.dialog-overlay[aria-hidden="true"],
.dialog[aria-hidden="true"]{ display:none; }.search-form__input{ height:40px;width:100%;display:block;border-radius:3px;border:2px solid #e6e6e6;font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;font-size:1.5rem;padding-left:10px; }.things__item{ padding-bottom:30px;margin-bottom:30px; }.things__item:not(:last-of-type){ border-bottom:2px solid #e6e6e6; }.things__item__image{ border:2px solid #e6e6e6;display:inline-flex; }.things__item .things__item__image img{ max-height:60px;width:auto; }pre,
code[class*="language-"],
pre[class*="language-"]{ color:white;font-family:"Inconsolata", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;font-size:1.5rem; }pre,
pre[class*="language-"],
:not(pre) > code[class*="language-"]{ background:#3c3c3c; }pre,
pre[class*="language-"]{ padding:1.5rem;margin-top:2rem;margin-bottom:2rem; }@media screen and (min-width: 400px) { body{ border:5px solid #ffdb3a; } }@media screen and (min-width: 500px) { .site__header{ margin-bottom:70px; }.subscribe-form__image{ width:20%; } }@media screen and (min-width: 850px) { .site__main{ width:65%; }.site__sidebar{ width:30%; } }
		</style>
		<noscript><link rel="stylesheet" href="/assets/css/main.css?v=1493196664"></noscript>
		<script id="loadCSS">loadCSS("/assets/css/main.css?v=1493196664");</script>
		<!-- inlineCSS-end -->


    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="description" content="{{ meta_description }}">

    <link rel="icon" href="{{asset "images/favicon.ico"}}">

    <link rel="manifest" href="{{asset "manifest.json"}}">
    <meta name="theme-color" content="#ffdb3a">

    <link rel="icon" type="image/png" sizes="32x32" href="{{asset "icons/icon_32.png"}}">
    <link rel="icon" type="image/png" sizes="48x48" href="{{asset "icons/icon_48.png"}}">
    <link rel="icon" type="image/png" sizes="128x128" href="{{asset "icons/icon_128.png"}}">
    <link rel="icon" type="image/png" sizes="256x256" href="{{asset "icons/icon_256.png"}}">

    <meta name="apple-mobile-web-app-title" content="bitsofcode">
    <link rel="apple-touch-icon" sizes="152x152" href="{{asset "icons/icon_152.png"}}">

    <meta name="msapplication-TileColor" content="#ffdb3a">
    <meta name="msapplication-TileImage" content="{{asset "icons/icon_144.png"}}">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{asset "icons/icon_128.png"}}">
    <meta property="og:site_name" content="bitsofcode">
    <meta property="og:url" content="https://bitsofco.de">

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-60256750-1', 'auto');
        ga('send', 'pageview');
    </script>

    {{ghost_head}}
</head>
<body class="{{body_class}}">

<header class="site__header">
    <div class="wrapper wrapper--flex">
        <a href="#site__footer__nav" class="anchorButton no-btn site__nav__open">
            <span class="sr-only">Open Site Navigation</span>
            {{> icon-menu}}
        </a>
        <h1 class="site__title">
            <a href="/" class="no-ul">
                <span class="sr-only">bitsofcode</span>
                {{> bitsofcode-logo }}
            </a>
        </h1>
        <a href="/search" class="site__search__open">
            <span class="sr-only">Open Site Search</span>
            {{> icon-search}}
        </a>
    </div>
</header>

{{> site-nav}}


<div class="site__body">
    <div class="wrapper wrapper--flex">
        <main class="site__main">{{{body}}}</main>
        {{> site-sidebar}}
    </div>
</div>

<footer class="site__footer p-t-md p-b-md">
    <div class="wrapper">
        <p class="fs-i m-b-sm">All articles written with ❤ by <a href="https://www.ireaderinokun.com/">Ire Aderinokun</a></p>
        <nav id="site__footer__nav" class="site__footer__nav m-b-sm no-ul">{{navigation}}</nav>
    </div>
</footer>

<div class="dialog-overlay" aria-hidden="true"></div>

<script src="{{asset "js/main.js"}}"></script>
<script src="{{asset "js/prism.js"}}"></script>
<script>!function (d, s, id) {var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
if (!d.getElementById(id)) {js = d.createElement(s);js.id = id;js.src = p + '://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js, fjs);}}(document, 'script', 'twitter-wjs');</script>

{{ghost_foot}}
</body>

</html>